* {
	position: relative;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
	font-size: x-large;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    /* width: 100%; */
    /* height: 100%; */
    font-size: 20px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    background: #1b1b1b;
    overflow-x: hidden;
}

#background {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url(https://cdn.akamai.steamstatic.com/steamcommunity/public/images/clans/3381077/b51d7794f31e3795a0335eab5ae103b29ed4b439.png) center / cover; */
    background-color: #1b2838;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;

   animation:scale-background 30s infinite alternate;

    -webkit-box-shadow:inset 0 -170px 220px 0 rgba(0,0,0,.5);
    box-shadow:inset 0 -170px 220px 0 rgba(0,0,0,.5);
}

@keyframes scale-background
{
    from
    {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to
    {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

#background > .overlay
{
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.45);
}

/* .App {
    text-align: center;
} */

.App-logo {
    height: 2em;
    pointer-events: none;
}

.App-header {
    margin-top: 5%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* font-size: calc(10px + 2vmin); */
    /* color: white; */
    background-color: #46602a;
}
.App-body {
    /* background-color: #282c3488; */
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: white;
}

#content {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    margin-top: 5%;
}


a {
    color: #ccf;
    text-decoration: none;
}

.miniature {
	height: 1.5em;
	width: 1.5em;
    vertical-align: middle;
    display: inline-block;
}

#inverted {
    -webkit-filter: invert(1);
    filter: invert(1);
}

table {
    width: 100%;
    padding: 10px;
}

td {
	background-color: #00000032;
}

tr {
	font-weight: bold;
	text-align: center;
	/* padding-left: 5px; */
}
tr:hover {
    background-color: #fff2;
}

@font-face {
    font-family: 'KlavikaBold';
    src: url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikaboldbold-webfont.eot?') format('eot'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikaboldbold-webfont.woff') format('woff'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikaboldbold-webfont.ttf') format('truetype'), url('//static.tecnico.ulisboa.pt/fonts/klavika/klavikaboldbold-webfont.svg#webfontBUN34PZS') format('svg');
    font-weight: bold;
    font-style: normal;
}

h1,
h2,
h3,
h4
{
    font-family: KlavikaBold;
    text-transform: uppercase;
    color: white;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}



input,
select,
option,
button {
    background: #fff2;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}


/* input[type=text] {
} */

.jsontextbox {
    width: 60%;
}


::placeholder {
    color: inherit;
}

/* select{
} */

option {
    background: #0005;
}

button {
    color: #ccf;
    cursor: pointer;
}

.column {
float: left;
width: 50%;
padding: 10px;
}

.inline{
    text-align: center;
    background-color: transparent;
    width: auto !important;
}

